<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{%- include "partials/title.html" -%}</title>
  <link rel="stylesheet" href="{{ get_url(path='styles/styles.css', cachebust=true) | safe }}" />

  <meta name="base" content="{{ config.base_url | safe }}" />
  <link rel="icon" href="{{ get_url(path='images/icons/favicon.svg') | safe }}" sizes="any" type="image/svg+xml" />
  <link rel="icon shortcut" href="{{ get_url(path='images/icons/favicon.ico') | safe }}" type="image/x-icon" />

  {% set apple_image57 = resize_image(path='images/icons/favicon.png', width=57, op="fit_width") %}
  <link rel="apple-touch-icon" href="{{ apple_image57.url | safe }}" sizes="57x57" />
  {% set apple_image60 = resize_image(path='images/icons/favicon.png', width=60, op="fit_width") %}
  <link rel="apple-touch-icon" href="{{ apple_image60.url | safe }}" sizes="60x60" />
  {% set apple_image72 = resize_image(path='images/icons/favicon.png', width=72, op="fit_width") %}
  <link rel="apple-touch-icon" href="{{ apple_image72.url | safe }}" sizes="72x72" />
  {% set apple_image76 = resize_image(path='images/icons/favicon.png', width=76, op="fit_width") %}
  <link rel="apple-touch-icon" href="{{ apple_image76.url | safe }}" sizes="76x76" />
  {% set apple_image114 = resize_image(path='images/icons/favicon.png', width=114, op="fit_width") %}
  <link rel="apple-touch-icon" href="{{ apple_image114.url | safe }}" sizes="114x114" />
  {% set apple_image120 = resize_image(path='images/icons/favicon.png', width=120, op="fit_width") %}
  <link rel="apple-touch-icon" href="{{ apple_image120.url | safe }}" sizes="120x120" />
  {% set apple_image144 = resize_image(path='images/icons/favicon.png', width=144, op="fit_width") %}
  <link rel="apple-touch-icon" href="{{ apple_image144.url | safe }}" sizes="144x144" />
  {% set apple_image152 = resize_image(path='images/icons/favicon.png', width=152, op="fit_width") %}
  <link rel="apple-touch-icon" href="{{ apple_image152.url | safe }}" sizes="152x152" />
  {% set apple_image180 = resize_image(path='images/icons/favicon.png', width=180, op="fit_width") %}
  <link rel="apple-touch-icon" href="{{ apple_image180.url | safe }}" sizes="180x180" />
  {% set apple_image256 = resize_image(path='images/icons/favicon.png', width=256, op="fit_width") %}
  <link rel="apple-touch-icon" href="{{ apple_image256.url | safe }}" sizes="256x256" />
  {% set mstile_image = resize_image(path='images/icons/favicon.png', width=144, op="fit_width") %}
  <meta name="msapplication-TileImage" content="{{ mstile_image.url | safe }}" />

  {%- if config.generate_feeds | default(value=config.generate_feed) -%}
    {%- if config.feed_filenames -%}
      {%- for feed in config.feed_filenames -%}
        {%- if feed == "atom.xml" -%}
          <link
            rel="alternate"
            type="application/atom+xml"
            title="{{ config.title | safe }} - Atom Feed"
            href="{{ get_url(path=feed, trailing_slash=false) | safe }}"
          />
        {%- elif feed == "rss.xml" -%}
          <link
            rel="alternate"
            type="application/rss+xml"
            title="{{ config.title | safe }} - RSS Feed"
            href="{{ get_url(path=feed, trailing_slash=false) | safe }}"
          />
        {%- else -%}
          <link rel="alternate" href="{{ get_url(path=feed, trailing_slash=false) | safe }}" />
        {%- endif -%}
      {%- endfor -%}
    {%- endif -%}
  {%- endif -%}

  <meta name="color-scheme" content="dark light" />
  <meta name="theme-color" media="(prefers-color-scheme: light)" content="{{ config.extra.light_color }}" />
  <meta name="theme-color" media="(prefers-color-scheme: dark)" content="{{ config.extra.dark_color }}" />
  <meta name="msapplication-TileColor" content="{{ config.extra.dark_color }}" />

  {%- if page.description -%}
    <meta name="description" content="{{ page.description }}" />
    <meta property="og:description" content="{{ page.description }}" />
  {%- elif section.description -%}
    <meta name="description" content="{{ section.description }}" />
    <meta property="og:description" content="{{ section.description }}" />
  {%- elif page.summary -%}
    <meta name="description" content="{{ page.summary | striptags | trim_end_matches(pat='.') | safe }}" />
    <meta property="og:description" content="{{ page.summary | striptags | trim_end_matches(pat='.') | safe }}" />
  {%- else -%}
    <meta name="description" content="{{ config.description }}" />
    <meta property="og:description" content="{{ config.description }}" />
  {%- endif -%}

  {%- if not current_url -%}
    <meta name="robots" content="noindex, follow" />
  {%- else -%}
    <meta name="robots" content="index, follow" />
  {%- endif -%}

  <meta name="generator" content="Zola">
  <meta name="rating" content="General">

  <meta property="og:site_name" content="{{ config.title }}" />
  <meta property="og:title" content="{{ page.title | default(value=config.title) | safe }}" />
  <meta property="og:type" content="article" />
  <meta name="twitter:title" content="{{ page.title | default(value=config.title) | safe }}" />
  <meta name="apple-mobile-web-app-title" content="{{ page.title | default(value=config.title) | safe }}" />

  {%- if page.extra.social_image -%}
    {%- set social_path = page.extra.social_image -%}
  {%- elif section.extra.social_image -%}
    {%- set social_path = section.extra.social_image -%}
  {%- endif -%}

  {%- if social_path -%}
    {%- set meta = get_image_metadata(path=social_path, allow_missing=true) -%}

    <meta property="og:image" content="{{ get_url(path=social_path, cachebust=true) }}" />
    <meta property="og:image:width" content="{{ meta.width }}" />
    <meta property="og:image:height" content="{{ meta.height }}" />
    <meta name="twitter:image" content="{{ get_url(path=social_path, cachebust=true) }}" />
    <meta name="twitter:card" content="summary_large_image" />
  {%- endif -%}

  {%- if current_url -%}
    <meta property="og:url" content="{{ current_url }}" />
  {%- endif -%}

  <meta name="mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-bar-style" content="default" />

  {%- if page.components -%}
    {%- if page.components.0 == "blog" -%}
      <link href="https://cdn.jsdelivr.net/npm/medium-zoom@1.1.0/dist/style.min.css" rel="stylesheet" />
    {%- endif -%}
  {%- endif -%}
</head>
