{%- extends "base.html" -%}

{%- block content -%}
  <main class="flex-auto text-gray-500 px-4 xl:ps-80 lg:max-w-5xl">
    <article class="h-full flex flex-col pt-4 xl:pt-12 pb-4">
      {{ section.content | safe }}

      {%- for year, posts in section.pages | sort(attribute="date") | reverse | group_by(attribute="year") -%}
        {%- if loop.first -%}
          <h2 class="text-white text-2xl lg:text-3xl mt-4 xl:mt-7">Artigos</h2>
        {%- endif -%}

        <h3 class="text-white text-lg font-bold mt-2 mb-2">{{ year | safe }}</h3>

        <section class="flex flex-wrap sm:gap-x-8 gap-y-3 sm:gap-y-5">
          {%- for post in posts -%}
            <div class="p-2 sm:p-4 bg-gray-800 has-hover:bg-black hover:bg-gray-800 transition-colors duration-500 max-w-sm sm:max-w-52 {% if post.extra.draft -%} cursor-not-allowed draft-card {% endif %}">
              <a class="no-underline {% if post.extra.draft -%} opacity-45 pointer-events-none {% endif %}" href="{{ post.permalink | safe }}">
                <h4 class="text-white text-xl mb-1 sm:mb-0 sm:text-2xl">{{ post.title }}</h4>
                <p class="text-sm text-gray-500">{{ post.description | safe }}</p>
                <span class="text-xs">{{ post.date | date(format="%d-%m-%Y") | safe }}</span>

                {%- if post.taxonomies.labels -%}
                  <div class="mb-2"></div>

                  {%- for label in post.taxonomies.labels -%}
                    <span class="block w-fit text-xs px-4 py-1 rounded-full post-label-{{ label | safe }}">{{ label | safe }}</span>
                  {%- endfor %}
                {%- endif -%}
              </a>
            </div>
          {%- endfor -%}
        </section>
      {%- endfor -%}
    </article>
  </main>
{%- endblock content -%}
