{%- extends "base.html" -%}

{%- block content -%}
  <main class="flex-auto text-gray-500 ps-80 max-w-5xl">
    <article class="h-full flex flex-col pt-12 pb-4">
      <h1 class="text-white font-bold text-5xl">{{ page.title | safe }}</h1>
      <div class="flex items-center gap-x-1 mb-4">
        <span class="text-white text-sm">{{ page.date | date(format="%d/%m/%Y") | safe }}</span> • <span class="text-sm">Tempo de leitura: {{ page.reading_time }} minutos</span>
      </div>
      <div class="flex flex-col gap-y-4">
        {{ page.content | safe }}
      </div>
    </article>
  </main>
{%- endblock content -%}
