<!DOCTYPE html>
<html lang="{{ lang }}" class="w-full h-full">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ get_url(path='styles/styles.css') | safe }}" />
    <title>{{ page.title | safe }}</title>
  </head>
  <body class="w-full h-full flex flex-col bg-black text-gray-700">
    <header class="flex items-center justify-between pt-4">
      <a class="ps-5" href="/">
        <img src="{{ get_url(path='images/logo.png') | safe }}" />
      </a>
      <nav class="flex gap-x-3">
        <a href="{{ get_url(path='@/about.md') | safe }}" class="px-5 py-2 text-gray hover:text-white hover:bg-gray-dark transition-colors duration-500 rounded-md">Sobre mim</a>
        <a href="{{ get_url(path='@/blog/_index.md') | safe }}" class="px-5 py-2 text-gray hover:text-white hover:bg-gray-dark transition-colors duration-500 rounded-md">Blog</a>
        <a href="{{ get_url(path='@/projects/_index.md') | safe }}" class="px-5 py-2 text-gray hover:text-white hover:bg-gray-dark transition-colors duration-500 rounded-md">Projetos</a>
      </nav>
      <nav class="pe-5 flex gap-x-3">
        <a href="https://github.com/jlucfarias">
          <img class="invert-[.5] hover:invert transition duration-200" width="36" height="36" src="https://img.icons8.com/material-rounded/96/github.png" alt="Github Logo" />
        </a>
        <a href="https://linkedin.com/in/jlucfarias">
          <img class="invert-[.5] hover:invert transition duration-200" width="36" height="36" src="https://img.icons8.com/material-rounded/96/linkedin--v1.png" alt="Linkedin Logo"/>
        </a>
      </nav>
    </header>
    <main class="flex-auto text-gray ps-80 max-w-6xl">
      <article class="h-full flex flex-col pt-12 pb-4">
        {{ page.content | safe }}
      </article>
    </main>
  </body>
</html>
