{%- extends "base.html" -%}

{%- block content -%}
  <main class="flex-auto text-gray-500 print:text-gray-800 ps-4 sm:ps-48 lg:ps-80 xl:ps-96">
    <article class="h-full flex flex-col justify-center py-auto">
      <img class="hidden print:block max-w-36 border border-gray-800 mb-4" src="{{ get_url(path='images/profile.png') | safe }}" />
      {{ section.content | safe }}
      <nav class="hidden print:flex flex-col gap-x-1 gap-y-1 mt-2"> <!-- hidden print:block -->
        <a class="flex items-center gap-x-2 text-gray-800" href="https://github.com/jlucfarias">
          https://github.com/jlucfarias
          <img class="hover:invert" width="20" height="20" src="https://img.icons8.com/material-rounded/96/github.png" alt="Github Logo" />
        </a>
        <a class="flex items-center gap-x-2 text-gray-800" href="https://linkedin.com/in/jlucfarias">
          https://linkedin.com/in/jlucfarias
          <img class="hover:invert" width="20" height="20" src="https://img.icons8.com/material-rounded/96/linkedin--v1.png" alt="Linkedin Logo" />
        </a>
      </nav>
    </article>
  </main>
{%- endblock content -%}
