@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
  padding-right: env(safe-area-inset-right);
}

.draft-card {
  position: relative;
}

.draft-card::before {
  content: "Rascunho";
  position: absolute;
  top: 0;
  right: -8px;
  font-size: 12px;
  font-weight: bold;
  padding-inline: 10px;
  z-index: 1;

  @apply text-white bg-red-500
}

.draft-card::after {
  position: absolute;
  content: '';
  height: 14px;
  width: 14px;
  top: 10px;
  right: -14px;
  transform: rotate(90deg);
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 7px solid red;
}

strong, a {
  @apply text-white
}

em {
  @apply text-gray-200
}

@media print {
  strong, a {
    @apply text-black
  }

  em {
    @apply text-gray-800
  }
}

a {
  @apply underline underline-offset-4 duration-100
}

@media screen and (hover: hover) {
  a:hover {
    @apply text-gray-300
  }
}

ul {
  list-style-type: disc;
  margin-inline-start: 0.5rem;
  padding-inline-start: 0.75rem;
}
