@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Quicksand", sans-serif;
}

header .spaced {
  padding-inline-start: calc(25vw - 34px - 0.75rem);
}

.spaced {
  padding-inline-start: 25vw;
}

footer .spaced {
  padding-inline-start: 35vw;
}
